<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UIKitTutorials.Properties.Settings.oktadminConnectionString"
            connectionString="Data Source=DESKTOP-TPKB50O\SQLEXPRESS;Initial Catalog=oktadmin;Integrated Security=True;Connect Timeout=10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>